<!-- SIDEBAR WRAPPER START -->
<div id="sidebar-wrapper" class="d-flex flex-column" th:fragment="sidebar-wrapper">
  <div class="head-sidebar d-flex justify-content-center align-items-center">
    <h3>E-CUTI</h3>
  </div>
  <div class="body-sidebar">
    <div sec:authorize="hasAuthority('KARYAWAN')" class="sidebar-list-v1">
      <ul>
        <li th:class="'single-sidebar-list' + ${#httpServletRequest.requestURI == '/' ? ' active' : ''}">
          <a href="/">Dashboard</a>
        </li>
        <li th:class="'single-sidebar-list' + ${#httpServletRequest.requestURI == '/pribadi/pengajuan-cuti' ? ' active' : ''}">
          <a href="/pribadi/pengajuan-cuti">Pengajuan Cuti</a>
        </li>
        <li th:class="'single-sidebar-list' + ${#httpServletRequest.requestURI == '/pribadi/riwayat-cuti' ? ' active' : ''}">
          <a href="/pribadi/riwayat-cuti">Riwayat Cuti</a>
        </li>
      </ul>
    </div>
    <div sec:authorize="hasAnyAuthority('MANAJER', 'SDM')" class="sidebar-list-v2">
      <div class="inner-sidebar-list">
        <div class="inner-sidebar-list-body">
          <ul>
            <li th:class="'single-sidebar-list' + ${#httpServletRequest.requestURI == '/' ? ' active' : ''}">
              <a href="/">Dashboard</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="inner-sidebar-list">
        <span class="inner-sidebar-list-head">Pribadi</span>
        <div class="inner-sidebar-list-body">
          <ul>
            <li th:class="'single-sidebar-list' + ${#httpServletRequest.requestURI == '/pribadi/pengajuan-cuti' ? ' active' : ''}">
              <a href="/pribadi/pengajuan-cuti">Pengajuan Cuti</a>
            </li>
            <li th:class="'single-sidebar-list' + ${#httpServletRequest.requestURI == '/pribadi/riwayat-cuti' ? ' active' : ''}">
              <a href="/pribadi/riwayat-cuti">Riwayat Cuti</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="inner-sidebar-list">
        <span class="inner-sidebar-list-head">Karyawan</span>
        <div class="inner-sidebar-list-body">
          <ul>
            <li th:class="'single-sidebar-list' + ${#httpServletRequest.requestURI == '/karyawan' ? ' active' : ''}">
              <a href="/karyawan">Karyawan</a>
            </li>
            <li sec:authorize="hasAuthority('MANAJER')" th:class="'single-sidebar-list' + ${#httpServletRequest.requestURI == '/karyawan/persetujuan-cuti' ? ' active' : ''}">
              <a href="/karyawan/persetujuan-cuti">
                <span class="link-text">Persetujuan Cuti</span>
                <span class="count-value" th:text="${persetujuanCutiKaryawan.size()}"></span>
              </a>
            </li>
            <li th:class="'single-sidebar-list' + ${#httpServletRequest.requestURI == '/karyawan/riwayat-cuti' ? ' active' : ''}">
              <a href="/karyawan/riwayat-cuti">Riwayat Cuti</a>
            </li>
            <li sec:authorize="hasAuthority('SDM')" th:class="'single-sidebar-list' + ${#httpServletRequest.requestURI == '/karyawan/jenis-cuti' ? ' active' : ''}">
              <a href="/karyawan/jenis-cuti">
                <span class="link-text">Jenis Cuti</span>
              </a>
            </li>
            <li sec:authorize="hasAuthority('SDM')" th:class="'single-sidebar-list' + ${#httpServletRequest.requestURI == '/karyawan/departemen' ? ' active' : ''}">
              <a href="/karyawan/departemen">
                <span class="link-text">Departemen</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="foot-sidebar">
    <form method="POST" th:action="@{/logout}">
      <button type="submit" class="logout-button">Logout</button>
    </form>
  </div>
</div>
<!-- SIDEBAR WRAPPER END -->

<!-- MAIN CONTENT WRAPPER START -->
<div id="main-content-wrapper" th:fragment="main-content-wrapper">
  <div class="head-main-content">
    <div class="user-section d-flex align-items-center">
      <div class="user-icon">
        <i class="fas fa-user"></i>
      </div>
      <div class="user-name">
        <span class="name-text" th:text="${currentKaryawan.nama}"></span>
      </div>
      <div class="user-action-caret-down-icon">
        <i class="fas fa-caret-down"></i>
      </div>
      <div class="user-action-area d-flex flex-column justify-content-center align-items-center">
        <ul class="user-action-list">
          <li class="single-user-action my-profile-action" data-bs-toggle="modal" data-bs-target="#modal-profile">
            <span class="user-action-icon ">
              <i class="fas fa-user"></i>
            </span>
            <span class="user-action-text">Profil Saya</span>
          </li>
          <li class="single-user-action change-email-action" data-bs-toggle="modal" data-bs-target="#modal-change-email">
            <span class="user-action-icon">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="user-action-text">Ubah Email</span>
          </li>
          <li class="single-user-action change-password-action" data-bs-toggle="modal" data-bs-target="#modal-change-password">
            <span class="user-action-icon">
              <i class="fas fa-key"></i>
            </span>
            <span class="user-action-text">Ubah Password</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="body-main-content">
    <div th:if="${#httpServletRequest.requestURI == '/'}" class="greetings-box">
      <span class="greetings-text">Hi, <span class="user-name" th:text="${currentKaryawan.nama}"></span></span>
    </div>

    <!-- DASHBOARD START -->
    <div sec:authorize="hasAuthority('KARYAWAN')" th:if="${#httpServletRequest.requestURI == '/'}" class="content-area">
      <div class="box-info-row">
        <div class="box-info-col">
          <div class="box-info bg-color-1">
            <span class="box-info-title">Sisa Jatah Cuti</span>
            <span class="box-info-icon">
              <i class="fas fa-certificate"></i>
            </span>
            <span class="box-info-value" th:text="${currentKaryawan.sisaCuti}"></span>
          </div>
        </div>
        <div class="box-info-col">
          <a href="/pribadi/riwayat-cuti">
            <div class="box-info bg-color-2">
              <span class="box-info-title">Riwayat Cuti</span>
              <span class="box-info-icon color-2">
                <i class="fas fa-history"></i>
              </span>
              <span class="box-info-value" th:text="${riwayatCutiPribadi.size()}"></span>
            </div>
          </a>
        </div>
      </div>
      <div class="box-content">
        <div class="box-content-head">
          <span class="head-text">Status Cuti Saat Ini</span>
        </div>
        <div class="box-content-body">
          <div class="box-cuti-row row" th:if="${pengajuanCutiPribadi.size() > 0}">
            <div class="box-cuti-col col-sm-6" th:each="_pengajuanCutiPribadi, iter : ${pengajuanCutiPribadi}">
              <div class="box-cuti">
                <span class="cuti-text-box" th:text="${_pengajuanCutiPribadi.id}"></span>
                <div class="cuti-action">
                  <span class="single-cuti-action eye-icon touch-icon detail-cuti-action-button" th:attr="data-id=${_pengajuanCutiPribadi.id}">
                    <i class="fas fa-eye"></i>
                  </span>
                  <!-- <span class="single-cuti-action edit-icon touch-icon edit-cuti-action-button" th:attr="data-id=${_pengajuanCutiPribadi.id}">
                    <i class="fas fa-edit"></i>
                  </span> -->
                  <span class="single-cuti-action trash-icon touch-icon delete-cuti-action-button" th:attr="data-id=${_pengajuanCutiPribadi.id}">
                    <i class="fas fa-trash"></i>
                  </span>
                </div>
                <table class="cuti-table">
                  <tbody>
                    <tr>
                      <td class="cuti-text-field">Tanggal Mulai Cuti</td>
                      <td class="cuti-text-value" th:text="${_pengajuanCutiPribadi.tanggalMulai}"></td>
                    </tr>
                    <tr>
                      <td class="cuti-text-field">Tanggal Selesai Cuti</td>
                      <td class="cuti-text-value" th:text="${_pengajuanCutiPribadi.tanggalSelesai}"></td>
                    </tr>
                    <tr>
                      <td class="cuti-text-field">Jenis Cuti</td>
                      <td class="cuti-text-value" th:if="${_pengajuanCutiPribadi.jenisCuti != null}" th:text="${_pengajuanCutiPribadi.jenisCuti.nama}"></td>
                      <td class="cuti-text-value" th:if="${_pengajuanCutiPribadi.jenisCuti == null}" th:text="Lainnya"></td>
                    </tr>
                  </tbody>
                </table>
                <span class="cuti-status text-box alert-warning" th:if="${_pengajuanCutiPribadi.status == 'tertunda'}" th:text="Tertunda"></span>
                <span class="cuti-status text-box alert-danger" th:if="${_pengajuanCutiPribadi.status == 'ditolak'}" th:text="Ditolak"></span>
                <span class="cuti-status text-box alert-success" th:text="Diterima"></span>
              </div>
            </div>
          </div>
          <div class="box-cuti-col-info alert-info" th:if="${pengajuanCutiPribadi.size() == 0}">
            <span class="box-cuti-col-info-text">Belum ada pengajuan</span>
          </div>
        </div>
      </div>
    </div>
    <div sec:authorize="hasAnyAuthority('MANAJER', 'SDM')" th:if="${#httpServletRequest.requestURI == '/'}" class="content-area">
      <div class="box-content">
        <div class="box-content-head">
          <span class="head-text">Informasi Pribadi</span>
        </div>
        <div class="box-content-body">
          <div class="box-info-row">
            <div class="box-info-col">
              <div class="box-info bg-color-1">
                <span class="box-info-title">Sisa Jatah Cuti</span>
                <span class="box-info-icon color-1">
                  <i class="fas fa-certificate"></i>
                </span>
                <span class="box-info-value" th:text="${currentKaryawan.sisaCuti}"></span>
              </div>
            </div>
            <div class="box-info-col">
              <a href="/pribadi/riwayat-cuti">
                <div class="box-info bg-color-2">
                  <span class="box-info-title">Riwayat Cuti</span>
                  <span class="box-info-icon color-2">
                    <i class="fas fa-history"></i>
                  </span>
                  <span class="box-info-value" th:text="${riwayatCutiPribadi.size()}"></span>
                </div>
              </a>
            </div>
          </div>
          <div class="box-content">
            <div class="box-content-head">
              <span class="head-text">Status Cuti Saat Ini</span>
            </div>
            <div class="box-content-body">
              <div class="box-cuti-row row" th:if="${pengajuanCutiPribadi.size() > 0}">
                <div class="box-cuti-col col-sm-6" th:each="_pengajuanCutiPribadi, iter : ${pengajuanCutiPribadi}">
                  <div class="box-cuti">
                    <span class="cuti-text-box" th:text="${_pengajuanCutiPribadi.id}"></span>
                    <div class="cuti-action">
                      <span class="single-cuti-action eye-icon touch-icon detail-cuti-action-button" th:attr="data-id=${_pengajuanCutiPribadi.id}">
                        <i class="fas fa-eye"></i>
                      </span>
                      <!-- <span class="single-cuti-action edit-icon touch-icon edit-cuti-action-button" th:attr="data-id=${_pengajuanCutiPribadi.id}">
                        <i class="fas fa-edit"></i>
                      </span> -->
                      <span class="single-cuti-action trash-icon touch-icon delete-cuti-action-button" th:attr="data-id=${_pengajuanCutiPribadi.id}">
                        <i class="fas fa-trash"></i>
                      </span>
                    </div>
                    <table class="cuti-table">
                      <tbody>
                        <tr>
                          <td class="cuti-text-field">Tanggal Mulai Cuti</td>
                          <td class="cuti-text-value" th:text="${_pengajuanCutiPribadi.tanggalMulai}"></td>
                        </tr>
                        <tr>
                          <td class="cuti-text-field">Tanggal Selesai Cuti</td>
                          <td class="cuti-text-value" th:text="${_pengajuanCutiPribadi.tanggalSelesai}"></td>
                        </tr>
                        <tr>
                          <td class="cuti-text-field">Jenis Cuti</td>
                          <td class="cuti-text-value" th:if="${_pengajuanCutiPribadi.jenisCuti != null}" th:text="${_pengajuanCutiPribadi.jenisCuti.nama}"></td>
                          <td class="cuti-text-value" th:if="${_pengajuanCutiPribadi.jenisCuti == null}" th:text="Lainnya"></td>
                        </tr>
                      </tbody>
                    </table>
                    <span class="cuti-status text-box alert-warning" th:if="${_pengajuanCutiPribadi.status == 'tertunda'}" th:text="Tertunda"></span>
                    <span class="cuti-status text-box alert-danger" th:if="${_pengajuanCutiPribadi.status == 'ditolak'}" th:text="Ditolak"></span>
                    <span class="cuti-status text-box alert-success" th:text="Diterima"></span>
                  </div>
                </div>
              </div>
              <div class="box-cuti-col-info alert-info" th:if="${pengajuanCutiPribadi.size() == 0}">
                <span class="box-cuti-col-info-text">Belum ada pengajuan</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-content">
        <div class="box-content-head">
          <span class="head-text">Informasi Karyawan</span>
        </div>
        <div class="box-content-body">
          <div class="box-info-row">
            <div class="box-info-col">
              <div class="box-info bg-color-3">
                <span class="box-info-title">Karyawan Aktif</span>
                <span class="box-info-icon color-3">
                  <i class="fas fa-briefcase"></i>
                </span>
                <span class="box-info-value" th:text="${totalKaryawanAktif}"></span>
              </div>
            </div>
            <div class="box-info-col">
              <div class="box-info bg-color-4">
                <span class="box-info-title">Karyawan Cuti</span>
                <span class="box-info-icon color-4">
                  <i class="fas fa-business-time"></i>
                </span>
                <span class="box-info-value" th:text="${totalKaryawanCuti}"></span>
              </div>
            </div>
            <div sec:authorize="hasAuthority('MANAJER')" class="box-info-col">
              <div class="box-info bg-color-5">
                <span class="box-info-title">Persetujuan Cuti</span>
                <span class="focus-circle-mask"></span>
                <span class="box-info-icon color-5">
                  <i class="fas fa-handshake"></i>
                </span>
                <span class="box-info-value" th:text="${persetujuanCutiKaryawan.size()}"></span>
              </div>
            </div>
            <div class="box-info-col">
              <div class="box-info bg-color-2">
                <span class="box-info-title">Riwayat Cuti</span>
                <span class="box-info-icon color-2">
                  <i class="fas fa-history"></i>
                </span>
                <span class="box-info-value" th:text="${riwayatCutiKaryawan.size()}"></span>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
    <!-- DASHBOARD END -->
    
    <!-- PENGAJUAN CUTI START -->
    <form th:if="${#httpServletRequest.requestURI == '/pribadi/pengajuan-cuti'}" method="POST" id="form-pengajuan-cuti">
      <div class="box-content">
        <div class="box-content-head">
          <span class="head-text">Informasi Pribadi</span>
        </div>
        <div class="box-content-body">
          <div class="form-group row">
            <label for="infopribadi__nik" class="col-md-3 col-form-label required">No. Induk Karyawan</label>
            <div class="col-md-9">
              <input th:value="${currentKaryawan.id}" type="text" class="form-control" id="infopribadi__nik" disabled>
            </div>
          </div>
          <div class="form-group row">
            <label for="infopribadi__namalengkap" class="col-md-3 col-form-label required">Nama Lengkap</label>
            <div class="col-md-9">
              <input th:value="${currentKaryawan.nama}" type="text" class="form-control" id="infopribadi__namalengkap" disabled>
            </div>
          </div>
          <div class="form-group row">
            <label for="infopribadi__jabatan" class="col-md-3 col-form-label required">Jabatan</label>
            <div class="col-md-9">
              <input th:value="${currentKaryawan.jabatan}" type="text" class="form-control" id="infopribadi__jabatan" disabled>
            </div>
          </div>
          <div class="form-group row">
            <label for="infopribadi__bagian" class="col-md-3 col-form-label required">Bagian</label>
            <div class="col-md-9">
              <input th:value="${currentKaryawan.departemen.nama}" type="text" class="form-control" id="infopribadi__bagian" disabled>
            </div>
          </div>
        </div>
      </div>
      <div class="box-content">
        <div class="box-content-head">
          <span class="head-text">Informasi Cuti</span>
        </div>
        <div class="box-content-body">
          <div class="form-group">
            <label for="infocuti__jeniscuti" class="required">Jenis Cuti</label>
            <select class="form-control" id="infocuti__jeniscuti">
              <option value="0" disabled selected th:attr="data-jatah=0">- Pilih -</option>
              <option th:each="jenisCutiTersedia : ${jenisCutiTersedia}" th:value="${jenisCutiTersedia.id}" th:text="${jenisCutiTersedia.nama}" th:attr="data-jatah=${jenisCutiTersedia.jumlahJatahCuti}"></option>
              <option value="0" th:attr="data-jatah=0">Lainnya</option>
            </select>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <label for="infocuti__tanggalmulaicuti" class="required">Tanggal Mulai Cuti</label>
              <input type="text" class="form-control" id="infocuti__tanggalmulaicuti" data-toggle="datepicker" data-required="required" data-label="Tanggal Mulai Cuti">
            </div>
            <div class="col-md-6">
              <label for="infocuti__tanggalselesaicuti" class="required">Tanggal Selesai Cuti</label>
              <input type="text" class="form-control" id="infocuti__tanggalselesaicuti" data-toggle="datepicker" data-required="required" data-label="Tanggal Selesai Cuti">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <label for="infocuti__jumlahcutidiambil" class="required">Jumlah Cuti Diambil</label>
              <input type="text" class="form-control" id="infocuti__jumlahcutidiambil" disabled th:value="0" data-label="Jumlah Cuti Diambil">
            </div>
            <div class="col-md-6">
              <label for="infocuti__sisacuti" class="required">Sisa Cuti</label>
              <input type="text" class="form-control" id="infocuti__sisacuti" th:value="${currentKaryawan.sisaCuti}" disabled data-label="Sisa Cuti">
            </div>
          </div>
          <div class="form-group">
            <label for="infocuti__keterangan">Keterangan</label>
            <textarea class="form-control" id="infocuti__keterangan" rows="3"></textarea>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="infocuti__perlupengganti">
            <label class="form-check-label" for="infocuti__perlupengganti">Perlu Pengganti</label>
          </div>
        </div>
      </div>
      <div class="box-content d-flex justify-content-end action-area">
        <button type="button" class="submit-button btn-primary-custom">Ajukan</button>
      </div>
    </form>
    <!-- PENGAJUAN CUTI END -->

    <!-- RIWAYAT CUTI START -->
    <div th:if="${#httpServletRequest.requestURI == '/pribadi/riwayat-cuti' or #httpServletRequest.requestURI == '/karyawan/riwayat-cuti'}" class="content-area">
      <div class="export-wrapper">
        <div class="single-export-action excel-button touch-button">
          <span>Export to Excel</span>
        </div>
      </div>
      <table id="riwayat-cuti-table" class="table hover">
        <thead>
          <tr>
            <th>No</th>
            <th>Tanggal Mulai Cuti</th>
            <th>Jenis Cuti</th>
            <th>Jumlah Cuti Diambil</th>
            <th>Catatan</th>
            <th>Opsi</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="riwayatCuti, iter : ${riwayatCutiPribadi}" th:if="${#httpServletRequest.requestURI == '/pribadi/riwayat-cuti'}">
            <td th:text="${iter.index + 1}"></td>
            <td th:text="${riwayatCuti.tanggalMulai}"></td>
            <td th:text="${riwayatCuti.jenisCuti.nama}"></td>
            <td th:text="${riwayatCuti.jenisCuti.jumlahJatahCuti}"></td>
            <td th:text="${riwayatCuti.catatan}"></td>
            <td>
              <span class="eye-icon action-icon touch-icon detail-cuti-action-button" th:attr="data-id=${riwayatCuti.id}">
                <i class="fas fa-eye"></i>
              </span>
            </td>
          </tr>
          <tr th:each="riwayatCuti, iter : ${riwayatCutiKaryawan}" th:if="${#httpServletRequest.requestURI == '/karyawan/riwayat-cuti'}">
            <td th:text="${iter.index + 1}"></td>
            <td th:text="${riwayatCuti.tanggalMulai}"></td>
            <td th:text="${riwayatCuti.jenisCuti.nama}"></td>
            <td th:text="${riwayatCuti.jenisCuti.jumlahJatahCuti}"></td>
            <td th:text="${riwayatCuti.catatan}"></td>
            <td>
              <span class="eye-icon action-icon touch-icon detail-cuti-action-button" th:attr="data-id=${riwayatCuti.id}">
                <i class="fas fa-eye"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- RIWAYAT CUTI END -->

    <!-- PERSETUJUAN CUTI START -->
    <div sec:authorize="hasAuthority('MANAJER')" th:if="${#httpServletRequest.requestURI == '/karyawan/persetujuan-cuti'}" class="content-area">
      <div class="export-wrapper">
        <div class="single-export-action excel-button touch-button">
          <span>Export to Excel</span>
        </div>
      </div>
      <table id="persetujuan-cuti-table" class="table hover">
        <thead>
          <tr>
            <th>No</th>
            <th>Nama</th>
            <th>Tanggal Mulai Cuti</th>
            <th>Jenis Cuti</th>
            <th>Jumlah Cuti Diambil</th>
            <th>Opsi</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="persetujuanCuti, iter : ${persetujuanCutiKaryawan}">
            <td th:text="${iter.index + 1}"></td>
            <td th:text="${persetujuanCuti.karyawan.nama}"></td>
            <td th:text="${persetujuanCuti.tanggalMulai}"></td>
            <td th:text="${persetujuanCuti.jenisCuti.nama}"></td>
            <td th:text="${persetujuanCuti.jenisCuti.jumlahJatahCuti}"></td>
            <td>
              <span class="eye-icon action-icon touch-icon detail-cuti-action-button" th:attr="data-id=${persetujuanCuti.id}">
                <i class="fas fa-eye"></i>
              </span>
              <span class="check-icon action-icon touch-icon accept-cuti-action-button" th:attr="data-id=${persetujuanCuti.id}">
                <i class="fas fa-check"></i>
              </span>
              <span class="times-icon action-icon touch-icon reject-cuti-action-button" th:attr="data-id=${persetujuanCuti.id}">
                <i class="fas fa-times"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- PERSETUJUAN CUTI END -->

    <!-- JENIS CUTI START -->
    <div sec:authorize="hasAuthority('SDM')" th:if="${#httpServletRequest.requestURI == '/karyawan/jenis-cuti'}" class="content-area">
      <div class="add-circle-button add-jenis-cuti-button d-flex justify-content-center align-items-center touch-icon">
        <i class="fas fa-plus"></i>
      </div>
      <table id="jenis-cuti-table" class="table hover">
        <thead>
          <tr>
            <th>No</th>
            <th>Nama</th>
            <th>Jumlah Jatah Cuti</th>
            <th>Opsi</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="_jenisCuti, iter : ${jenisCuti}">
            <td th:text="${iter.index + 1}"></td>
            <td th:text="${_jenisCuti.nama}"></td>
            <td th:text="${_jenisCuti.jumlahJatahCuti}"></td>
            <td>
              <span class="edit-icon action-icon touch-icon edit-action-button" th:attr="data-id=${_jenisCuti.id}">
                <i class="fas fa-edit"></i>
              </span>
              <!-- <span class="times-icon action-icon touch-icon delete-action-button" th:attr="data-id=${_jenisCuti.id}">
                <i class="fas fa-times"></i>
              </span> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- JENIS CUTI END -->

    <!-- DEPARTEMEN START -->
    <div sec:authorize="hasAuthority('SDM')" th:if="${#httpServletRequest.requestURI == '/karyawan/departemen'}" class="content-area">
      <div class="add-circle-button d-flex justify-content-center align-items-center touch-icon add-departemen-button">
        <i class="fas fa-plus"></i>
      </div>
      <table id="departemen-table" class="table hover">
        <thead>
          <tr>
            <th>No</th>
            <th>Departemen</th>
            <th>Manajer</th>
            <th>Opsi</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="_departemen, iter : ${departemen}">
            <td th:text="${iter.index + 1}"></td>
            <td th:text="${_departemen.nama}"></td>
            <td th:text="${_departemen.manager}"></td>
            <td>
              <span class="edit-icon action-icon touch-icon edit-action-button" th:attr="data-id=${_departemen.id}">
                <i class="fas fa-edit"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- DEPARTEMEN END -->

    <!-- KARYAWAN START -->
    <div sec:authorize="hasAnyAuthority('MANAJER', 'SDM')" th:if="${#httpServletRequest.requestURI == '/karyawan'}" class="content-area">
      <div sec:authorize="hasAuthority('SDM')" class="add-circle-button d-flex justify-content-center align-items-center touch-icon add-karyawan-button">
        <i class="fas fa-plus"></i>
      </div>
      <div class="export-wrapper">
        <div class="single-export-action excel-button touch-button">
          <span>Export to Excel</span>
        </div>
      </div>
      <table id="karyawan-table" class="table hover">
        <thead>
          <tr>
            <th>No</th>
            <th>Nama</th>
            <th>Jabatan</th>
            <th>Bagian</th>
            <th>Status</th>
            <th>Opsi</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="_karyawan, iter : ${karyawan}">
            <td th:text="${iter.index + 1}"></td>
            <td th:text="${_karyawan.nama}"></td>
            <td th:text="${_karyawan.jabatan}"></td>
            <td th:text="${_karyawan.departemen.nama}"></td>
            <td th:if="${_karyawan.status == 'aktif'}">
              <span class="green-text-box">Aktif</span>
            </td>
            <td th:if="${_karyawan.status == 'cuti'}">
              <span class="red-text-box">Cuti</span>
            </td>
            <td th:if="${_karyawan.status == 'nonaktif'}">
              <span class="red-text-box">Non Aktif</span>
            </td>
            <td>
              <span class="eye-icon action-icon touch-icon detail-action-button" th:attr="data-id=${_karyawan.id}">
                <i class="fas fa-eye"></i>
              </span>
              <span sec:authorize="hasAuthority('SDM')" class="edit-icon action-icon touch-icon edit-action-button" th:attr="data-id=${_karyawan.id}">
                <i class="fas fa-edit"></i>
              </span>
              <span sec:authorize="hasAuthority('SDM')" class="trash-icon action-icon touch-icon delete-action-button" th:attr="data-id=${_karyawan.id}">
                <i class="fas fa-trash"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- KARYAWAN END -->
    
  </div>
</div>
<!-- MAIN CONTENT WRAPPER END -->

<!-- MODAL PROFILE START -->
<div class="modal fade" id="modal-profile" tabindex="-1" aria-hidden="true" th:fragment="modal-profile">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Profil Saya</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="modal-body-table-info">
          <tbody>
            <tr data-row="nama">
              <td class="info-label">Nama</td>
              <td class="info-value" th:text="${currentKaryawan.nama}"></td>
            </tr>
            <tr data-row="jabatan">
              <td class="info-label">Jabatan</td>
              <td class="info-value" th:text="${currentKaryawan.jabatan}"></td>
            </tr>
            <tr data-row="status">
              <td class="info-label">Status</td>
              <td class="info-value">
                <span class="text-box alert-success" th:if="${currentKaryawan.status == 'aktif'}">Aktif</span>
                <span class="text-box alert-danger" th:if="${currentKaryawan.status == 'nonaktif'}">NonAktif</span>
                <span class="text-box alert-info" th:if="${currentKaryawan.status == 'cuti'}">Cuti</span>
              </td>
            </tr>
            <tr data-row="username">
              <td class="info-label">Username</td>
              <td class="info-value" th:text="${currentKaryawan.user.username}"></td>
            </tr>
            <tr data-row="email">
              <td class="info-label">Email</td>
              <td class="info-value" th:text="${currentKaryawan.user.email}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- MODAL PROFILE END -->

<!-- MODAL CHANGE EMAIL START -->
<div class="modal fade" id="modal-change-email" tabindex="-1" aria-hidden="true" th:fragment="modal-change-email">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" id="form-change-email">
        <div class="modal-header">
          <h5 class="modal-title">Ubah Email</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="changeemail__newemail">Email Baru</label>
            <input type="text" id="changeemail__newemail" class="form-control" data-label="Email" data-format="EMAIL" data-required="required" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="submit-button btn-primary-custom">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- MODAL CHANGE EMAIL END -->

<!-- MODAL CHANGE PASSWORD START -->
<div class="modal fade" id="modal-change-password" tabindex="-1" aria-hidden="true" th:fragment="modal-change-password">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" id="form-change-password">
        <div class="modal-header">
          <h5 class="modal-title">Ubah Password</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="changepassword__oldpass">Password Lama</label>
            <input type="text" id="changepassword__oldpass" data-required="required" data-label="Password Lama" class="form-control" />
          </div>
          <div class="form-group">
            <label for="changepassword__newpass">Password Baru</label>
            <input type="text" id="changepassword__newpass" data-required="required" data-label="Password Baru" class="form-control" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="submit-button btn-primary-custom">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- MODAL CHANGE PASSWORD END -->

<!-- MODAL CUTI START -->
<div class="modal fade" id="modal-cuti" tabindex="-1" aria-hidden="true" th:fragment="modal-cuti">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" id="form-cuti">
        <div class="modal-header">
          <h5 class="modal-title">Form Cuti</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="box-content">
            <div class="box-content-head">
              <span class="head-text">Informasi Pribadi</span>
            </div>
            <div class="box-content-body">
              <div class="form-group row">
                <label for="infopribadi__id" class="col-md-3 col-form-label required">ID Karyawan</label>
                <div class="col-md-9">
                  <input th:value="${currentKaryawan.id}" type="text" class="form-control" id="infopribadi__id" disabled>
                </div>
              </div>
              <div class="form-group row">
                <label for="infopribadi__namalengkap" class="col-md-3 col-form-label required">Nama Lengkap</label>
                <div class="col-md-9">
                  <input th:value="${currentKaryawan.nama}" type="text" class="form-control" id="infopribadi__namalengkap" disabled>
                </div>
              </div>
              <div class="form-group row">
                <label for="infopribadi__jabatan" class="col-md-3 col-form-label required">Jabatan</label>
                <div class="col-md-9">
                  <input th:value="${currentKaryawan.jabatan}" type="text" class="form-control" id="infopribadi__jabatan" disabled>
                </div>
              </div>
              <div class="form-group row">
                <label for="infopribadi__bagian" class="col-md-3 col-form-label required">Bagian</label>
                <div class="col-md-9">
                  <input th:value="${currentKaryawan.departemen.nama}" type="text" class="form-control" id="infopribadi__bagian" disabled>
                </div>
              </div>
            </div>
          </div>
          <div class="box-content">
            <div class="box-content-head">
              <span class="head-text">Informasi Cuti</span>
            </div>
            <div class="box-content-body">
              <div class="form-group">
                <label for="infocuti__jeniscuti" class="required">Jenis Cuti</label>
                <select class="form-control" id="infocuti__jeniscuti">
                  <option disabled selected th:attr="data-jatah=0">- Pilih -</option>
                  <option th:each="jenisCutiTersedia : ${jenisCutiTersedia}" th:value="${jenisCutiTersedia.id}" th:text="${jenisCutiTersedia.nama}" th:attr="data-jatah=${jenisCutiTersedia.jumlahJatahCuti}"></option>
                  <option value="0" th:attr="data-jatah=0">Lainnya</option>
                </select>
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <label for="infocuti__tanggalmulaicuti" class="required">Tanggal Mulai Cuti</label>
                  <input type="text" class="form-control" id="infocuti__tanggalmulaicuti" data-toggle="datepicker" data-required="required" data-label="Tanggal Mulai Cuti">
                </div>
                <div class="col-md-6">
                  <label for="infocuti__tanggalselesaicuti" class="required">Tanggal Selesai Cuti</label>
                  <input type="text" class="form-control" id="infocuti__tanggalselesaicuti" data-toggle="datepicker" data-required="required" data-label="Tanggal Selesai Cuti">
                </div>
              </div>
              <div class="form-group row form-group-jatah-cuti">
                <div class="col-md-6">
                  <label for="infocuti__jumlahcutidiambil" class="required">Jumlah Cuti Diambil</label>
                  <input type="text" class="form-control" id="infocuti__jumlahcutidiambil" disabled th:value="0" data-label="Jumlah Cuti Diambil">
                </div>
                <div class="col-md-6">
                  <label for="infocuti__sisacuti" class="required">Sisa Cuti</label>
                  <input type="text" class="form-control" id="infocuti__sisacuti" th:value="${currentKaryawan.sisaCuti}" disabled data-label="Sisa Cuti">
                </div>
              </div>
              <div class="form-group">
                <label for="infocuti__keterangan">Keterangan</label>
                <textarea class="form-control" id="infocuti__keterangan" rows="3"></textarea>
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="infocuti__perlupengganti">
                <label class="form-check-label" for="infocuti__perlupengganti">Perlu Pengganti</label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="submit-button btn-primary-custom">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- MODAL CUTI END -->

<!-- MODAL KARYAWAN START -->
<div class="modal fade" id="modal-karyawan" tabindex="-1" aria-hidden="true" th:fragment="modal-karyawan">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" id="form-karyawan">
        <div class="modal-header">
          <h5 class="modal-title">Form Karyawan</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" id="karyawan__id" />
          <div class="form-group">
            <label for="karyawan__nama">Nama</label>
            <input type="text" id="karyawan__nama" data-required="required" data-label="Nama" class="form-control" />
          </div>
          <div class="form-group">
            <label for="karyawan__jabatan">Jabatan</label>
            <select id="karyawan__jabatan" class="form-control" data-label="Jabatan" data-required="required">
              <option value="" disabled selected>- Pilih -</option>
              <option value="KARYAWAN">Karyawan (Staf)</option>
              <option value="MANAJER">Manajer</option>
              <option value="SDM">SDM</option>
            </select>
          </div>
          <div class="form-group">
            <label for="karyawan__departemen">Departemen</label>
            <select class="form-control" id="karyawan__departemen" data-required="required">
              <option th:value="0" disabled selected>- Pilih -</option>
              <option th:each="_departemen : ${departemen}" th:value="${_departemen.id}" th:text="${_departemen.nama}"></option>
            </select>
          </div>
          <div class="form-group">
            <label for="karyawan__email">Email</label>
            <input type="text" id="karyawan__email" data-required="required" data-label="Email" data-format="EMAIL" class="form-control" />
          </div>
          <div class="form-group">
            <label for="karyawan__username">Username</label>
            <input type="text" id="karyawan__username" data-required="required" data-label="Username" class="form-control" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="submit-button btn-primary-custom">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- MODAL KARYAWAN END -->

<!-- MODAL KIND OF LEAVE START -->
<div class="modal fade" id="modal-kind-of-leave" tabindex="-1" aria-hidden="true" th:fragment="modal-kind-of-leave">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" id="form-kind-of-leave">
        <input type="hidden" id="kindofleave__id" />
        <div class="modal-header">
          <h5 class="modal-title">Form Jenis Cuti</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="kindofleave__nama">Nama Jenis</label>
            <input type="text" id="kindofleave__nama" data-required="required" data-label="Nama Jenis" class="form-control" />
          </div>
          <div class="form-group">
            <label for="kindofleave__jumlahjatahcuti">Jumlah Jatah Cuti</label>
            <input type="text" id="kindofleave__jumlahjatahcuti" data-required="required" data-format="NUMERIC" data-label="Jumlah Jatah Cuti" class="form-control" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="submit-button btn-primary-custom">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- MODAL KIND OF LEAVE END -->

<!-- MODAL DEPARTEMEN START -->
<div class="modal fade" id="modal-departemen" tabindex="-1" aria-hidden="true" th:fragment="modal-departemen">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" id="form-departemen">
        <input type="hidden" id="departemen__id" />
        <div class="modal-header">
          <h5 class="modal-title">Form Departemen</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="departemen__nama">Nama Departemen</label>
            <input type="text" id="departemen__nama" data-required="required" data-label="Nama Departemen" class="form-control" />
          </div>
          <div class="form-group">
            <label for="departemen__manager">Manajer</label>
            <select class="form-control" id="departemen__manager" data-required="required">
              <option th:value="0" disabled selected>- Pilih -</option>
              <option th:each="_karyawan : ${karyawan}" th:value="${_karyawan.id}" th:text="${_karyawan.nama}"></option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="submit-button btn-primary-custom">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- MODAL DEPARTEMEN END -->