*,
*::before,
*::after {
  color: inherit;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-size: 16px;
  color: #444;
  background-color: #E5F3F4;
}

form {
  width: 100%;
}

select:focus,
input:focus,
textarea:focus {
  box-shadow: none !important;
  outline: none !important;
  border: 1px solid #40C2C4 !important;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
}

button,
button:active {
  outline: none !important;
  border: none !important;
}

.btn-close {
  font-size: 1.2em;
  border-radius: 5px !important;
}

.btn-close [aria-hidden] {
  position: relative;
  top: -1px;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #f8f8f8;
}

label.required:after {
  content: "*";
  color: #fc4d44;
  margin-left: 3px;
  font-size: 1.05em;
}

.tooltip {
  width: 100px;
  height: 20px;
  padding: 5px 10px;
  background-color: #fff;
  /*box-shadow: 0 0 20px rgba(0, 0, 0, .15);*/
  border-radius: 5px;
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 1000;
}

.touch-icon,
.touch-button {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.eye-icon {
  color: #40C2C4;
}

.eye-icon:hover {
  color: #10a0a0;
}

.check-icon {
  color: #53db53;
}

.check-icon:hover {
  color: #33b733;
}

.times-icon,
.trash-icon {
  color: #f76c6c;
}

.times-icon:hover,
.trash-icon:hover {
  color: #e84747;
}

.edit-icon {
  color: #ffb53f;
}

.edit-icon:hover {
  color: #f29b18;
}

.text-box {
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  padding: 2px 10px 4px 10px;
}

.red-text-box {
  background-color: #ffe4e3;
  color: #e6372e;
  display: inline-block;
  text-align: center;
  width: 70px;
  padding: 2px 5px 4px;
  border-radius: 4px;
  font-size: 0.95em;
  border: 1px solid #eee;
}

.green-text-box {
  background-color: #e9f8e9;
  color: #41a93f;
  display: inline-block;
  text-align: center;
  width: 70px;
  padding: 2px;
  border-radius: 4px;
  font-size: 0.95em;
  border: 1px solid #eee;
}

.btn-primary-custom {
  background-color: #40c2c4;
  color: #fff;
  border-radius: 5px;
  letter-spacing: 0.025em;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 1;
  height: 38px;
  transition: 0.3s ease-in-out;
}

.btn-primary-custom:hover {
  background-color: #26adaf;
}

.warning-color-custom,
.warning-color-custom:hover {
  color: #fff !important;
  background-color: salmon !important;
}

.netral-color-custom,
.netral-color-custom:hover {
  background-color: #ddd !important;
  color: #444 !important;
}

.bg-color-1 {
  background-color: #ed6d79;
}

.color-1 {
  color: #fc99a2;
}

.bg-color-2 {
  background-color: #77b29b;
}

.color-2 {
  color: #add1c2;
}

.bg-color-3 {
  background-color: #66d188;
}

.color-3 {
  color: #a7eabd;
}

.bg-color-4 {
  background-color: #78c4cb;
}

.color-4 {
  color: #b1dee2;
}

.bg-color-5 {
  background-color: #d58ed1;
}

.color-5 {
  color: #e3b5e2;
}

table thead th {
  border-top: none !important;
}

table tbody tr:last-of-type td {
  border-bottom: 1px solid #eee;
}

/* DATATABLE CUSTOM */

table.dataTable {
  margin-bottom: 12px;
  border-bottom: none !important;
}

table.dataTable thead th {
  border-bottom: none !important;
  background-color: #f9f9f9;
  font-weight: 500;
}

.dataTables_length select {
  margin-left: 4px;
  margin-right: 4px;
}

.dataTables_filter {
  margin-bottom: 6px;
}

.dataTables_filter input {
  margin-left: 8px !important;
}